 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>May 25th - 29th, 3 sessions a night!</h3>
                    <p>Australia East: 8pm - 10pm</p>
                    <p>New Zealand: 10pm - 12am</p>
                    <p>Western Australia: 6pm - 8pm</p>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>ANZ Coders is an interactive, online, virtual conference, running for two hours each night, for a whole week. Being virtual means you won't need to ask the boss for time off work; you won't need to pay a conference fee; and you can even show up in your pyjamas, pants optional. We won't tell anyone!</p>
                    <p>Attending is easy! When registration opens, just click the Register button. That's it! You won't be asked to install any third party software or browser plug-ins. It's just you, a browser, a cool drink, a comfy seat, and us. Sweet!</p>
                </div>
                <div class="col-lg-4">
                    <p>Each night will feature three 30-minute sessions, with a 15-minute break between them. That'll give you time between sessions to collect your thoughts, check the tweets, take a bio-break, refill your drink, put the kids to bed, take the bins out, and whatever else you need to do.</p>
                    <p>Each session will have a live chat room and a Q&amp;A area. You'll be able to shoot the breeze with other attendees, ask the presenter questions as they go, or just do some friendly heckling just like an in-person conference. How great is that‽</p>
                </div>
            </div>
        </div>
    </section>