 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>May 4th - 8th. 3 sessions a night!</h3>
                    <p>Australia East: 8pm - 10pm</p>
                    <p>New Zealand: 11pm - 1am</p>
                    <p>Western Australia: 6pm - 8pm</p>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>ANZ Coders is an interactive, virtual, after hours conference, running for 2 hours each night. Being virtual means you don't need to ask the boss for time off work, you don't have to pay any conference fees and you can attend in your pyjamas. We won't tell anyone!</p>
                    <p>Attending is easy! Just register using the big register button. And don't worry - there's no suspect 3rd party software or browser plug ins to install. Peace of mind!</p>
                </div>
                <div class="col-lg-4">
                    <p>Each night will feature 3x 30 minute sessions with a 15 minute break between each. That'll give you time to collect your thoughts, check the tweets, take a bio-break, grab a drink, put the kids to bed, take the bins out and do whatever else you need to do. Then you can sit down again</p>
                    <p>Each session will have a live chat room and a Q&amp;A area attached to it so you can talk to the other attendees and ask the presenter questions as they go, just like you can in a face-to-face conference. How great is that?!</p>
                </div>
            </div>
        </div>
    </section>