 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>May 4th - 8th. 3 sessions a night!</h3>
                    <p>Australia East: 8pm - 10pm</p>
                    <p>New Zealand: 11pm - 1am</p>
                    <p>Western Australia: 6pm - 8pm</p>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>ANZ Coders is an interactive, virtual, after hours conference, running for 2 hours each night. Being virtual means you won't need to ask the boss for time off work, you won't need to a conference fee and you can even show up in your pyjamas, pants optional. We won't tell anyone!</p>
                    <p>Attending is easy! Let us know you're coming via the big register button. That's it! You won't be asked to install any 3rd party software or browser plug ins. It's just you, your browser, a cool drink, a comfy seat and us. Sweet!</p>
                </div>
                <div class="col-lg-4">
                    <p>Each night will feature 3x 30 minute sessions with a 15 minute break between each. That'll give you time between sessions to collect your thoughts, check the tweets, take a bio-break, refill your drink, put the kids to bed, take the bins out and do whatever else you need to do.</p>
                    <p>Each session will have a live chat room and a Q&amp;A area. You'll be able to shoot the breeze with other attendees, ask the presenter questions as they go, or just do some friendly heckling just like an in person conference. How great is that?!</p>
                </div>
            </div>
        </div>
    </section>