 <!-- About Section -->
    <section id="FAQ" class="success">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>FAQ</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><strong>Where is it?</strong><br />
                    It's virtual. It's wherever you are at the time. No need to worry about transport or parking for this conference.</p>
                    <p><strong>What's the cost?</strong><br />
                    It's free! Zero. Nada. Nothing. Squat.<br />
                    Why? Because we love you. Awww. #hugs</p>
                    <p><strong>Will dinner be provided?</strong><br />
                    No, but feel free to buy yourself a pizza and drop bits all over the floor at home if you want that full conference experience.</p>
                    <p><strong>When is registration open</strong><br />
                    Now! <a href="http://www.crowdcast.io/e/anzcoders2015-1">Go register!</a></p>
                    <p><strong>How does voting work?</strong><br />
                    Once sessions close we'll be putting all the abstracts up on UserVoice. The community will then have a few weeks to decide how to spend their votes. The top voted submissions will be asked to present and we'll work out the schedule for you after that.</p>
                </div>
                <div class="col-lg-4">
                    <p><strong>I want to speak!</strong><br />
                    Wonderful! We want you to as well. Submit a session and if the commnunity votes for it, you're on!</p>
                    <p><strong>I want to help!</strong><br />
                    Great! Get in touch with us at <a style="light" href="mailto:contact@anzcoders.com">contact@anzcoders.com</a></p>
                    <p><strong>I want to sponsor ANZ Coders</strong><br />
                    We'd love you to. We do have some costs to cover so hit us up at <a style="light" href="mailto:contact@anzcoders.com">contact@anzcoders.com</a> and we can talk about options.</p>
                    <p><strong>Is there a hashtag?</strong><br />
                    Of course there is. Use #anzcoders</p>
                    <p><strong>Will recordings be available?</strong><br />
                    Absoutely. We'll have all the links for you right here, once the conference is done.</p>
                </div>
            </div>
        </div>
    </section>