    <!-- Footer -->
    <footer id="contact" class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>{{ site.footer.location }}</h3>
                        <p>
                            {% for adress in site.address %}
                                {{ adress.line }} <br>
		                    {% endfor %}
                        </p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>{{ site.footer.social }}</h3>
                        <ul class="list-inline">
                            {% for network in site.social %}
                            <li>
                                <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                            </li>
		                    {% endfor %}
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>{{ site.footer.credits }}</h3>
                        <p>{{ site.credits }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}
                    </div>
                <div>
                <div class="row">
                    <div class="col-lg-12">
                        The thoughts and opinions of the individual presenters are theirs alone, and do not necessarily reflect those of ANZ Coders or their respective employers. All content provided is for informational purposes only. ANZ Coders makes no representation as to the accuracy or completeness of any information provided and will not be liable for any errors or omissions in this information nor for the availability of this information. ANZ Coders will not be liable for any losses, injuries, or damages from the display or use of this information. These terms and conditions of use are subject to change at anytime and without notice.<br />
                        ANZ Coders uses Crowdcast.io, UserVoice and Google technologies to deliver the service. Your personal information will be collected and handled by these parties. See their respective sites for privacy information.
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
