
    <!-- speakers Grid Section -->
    <section id="speakers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Speakers</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    Voting is closed. We'll announce the speakers and agenda shortly.
                </div>
            </div>
        </div>
    </section>