 <!-- Submit Section -->
    <section class="success" id="submissions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Submit A Session</h2>
                    <p>Submissions close Sun May 3rd, 12pm AEST</p> 
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p><i>Session length</i>: 30 minutes.<br />
                    <i>You'll need</i>: a webcam, a separate microphone (not the inbuilt laptop mic!) and a reliable internet connection.<br />
                    <i>Resolution</i>: Presentations will be at 1280x768 resolution so others can see code easily. Practice your talks at that resolution<br />
                    <i>Topic Areas</i>: Anything related to software development, teamwork and creativity will be just fine<br />
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                <h3>Submission steps</h3>
                <p>Hit the Submit button to start a new email (I know, high tech, right?!) and ensure you include the following in the body<p>
                <ul>
                <li>Your Name</li>
                <li>Session Title</li>
                <li>An abstract for the session (i.e. the sales pitch)</li>
                <li>Anything else you might want us to know</li>
                </ul>
                <p>We'll send you an acknowledgement once we recieve the submission. Any submissions after the closing date will not be accepted.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="mailto:submissions@anzcoders.com?subject=ANZCoders Session Proposal&body=Name/Title/Abstract/Anything Else" class="btn btn-lg btn-outline">
                        <i class="fa fa-send-o"></i> Submit A Session
                    </a>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                <p><br /><a href="http://anzcoders.uservoice.com/forums/281113-session-proposals" class="light">See the current proposals</a></p>
                </div>
            </div>
        </div>
    </section>