 <!-- Submit Section -->
    <section class="success" id="voting">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Session Voting Now On!</h2>
                    <p>Voting closes Sun May 10th</p> 
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center cta">
                    15 sessions to fill. 10 votes to use.<br />
                    It's your choice!<br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://anzcoders.uservoice.com/forums/281113-session-proposals" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-send-o"></i> Vote Now!
                    </a>
                </div>
            </div>
        </div>
    </section>